clones/
steps_from_SolidWorks/
claude_notes/
robo_dk_output/
!robo_dk_output/path_config.yaml
!robo_dk_output/waypoint_sources.json
!robo_dk_output/viewer_config.yaml
!robo_dk_output/import_waypoints_cache.json
extracted_assets/
saved_rhino/
!saved_rhino/working_model_robert_check_v8.3dm
robodk_setup/__pycache__/
robodk_code/__pycache__/
misc_extraction_utils/__pycache__/
rhino_convert.log
rhino_convert_history.log
ik_solutions/
*.sh.bak
Miniconda*.sh
tests/__pycache__/

waypoint_viewer/node_modules/
waypoint_viewer/dist/

.viewer_logs/
.superpowers/
